 
  <div id="test-swipe-1" class="col s12" style="background-image: url('img/paper.jpg')">
  	<center>
   		<img src='img/fox.jpg' width="100px" height="100px" class="mainimg">
   		<h1>MONGO SCRAPER</h1>
   	    <h5>Find the Fox News 30 most popular lifestyle headlines with the click of a button.</h5>
	    <p><a class="btn btn-primary btn-lg" id='mainButton' role="button">Enjoy.</a></p>
	</center>
  </div>
  <div id="test-swipe-2" class="col s12 red">Test 2</div>
  <div id="scrapeArticle" class="col s12">
    
  </div>
